<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diary.mapper.DiaryAnalysisMapper">

    <insert id="insertAnalysis">
        INSERT INTO diary_analysis (d_id, summary, emotion, weather_style)
        VALUES (#{dId}, #{summary}, #{emotion}, #{weatherStyle})
    </insert>

    <select id="findByDiaryId" resultType="com.diary.vo.DiaryAnalysisVo">
        SELECT d_id, summary, emotion, weather_style as weatherStyle
        FROM diary_analysis
        WHERE d_id = #{dId}
    </select>

</mapper>